<% if object.errors.any? %>
  <section class="bg-red-200 mb-4">
    <h2>Opps! Your task could not be saved.</h2>
    <h3 class="mb-2">Please correct the following
      <%= pluralize(object.errors.size, "error") %>:
    </h3>
    <ul>
      <% object.errors.full_messages.each do |error| %>
        <li class="list-disc"><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>
