<header>
  <nav class="grid bg-slate-200 grid-cols-3">
    <%= link_to image_tag("post-it.png"), root_path, class: "ml-2" %>
    <div class="flex grid justify-items-center items-center">
      <%= link_to "Add New Task", new_task_path %>
    </div>
    <div class="flex gap-4 justify-end items-center mr-4">
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Sign In", new_session_path %>
    </div>
  </nav>
</header>
